* {
  box-sizing: border-box;
}

/* Fuente personalizada */
@font-face {
  font-family: 'Roboto Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.landing-page-body,
.other-page-body {
  flex: 1;
  background-color: #FEFAE0;
  font-family: 'Roboto Variable', sans-serif;
  display: flex;
  flex-direction: column;
}

.other-page-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1D363A;
  padding: 0 30px;
  text-align: center;
}

/* Header */
.terabi-header, .other-page-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1D363A;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FEFAE0;
  text-decoration: none;
}

/* Navbar */
.navbar a {
  position: relative;
  text-decoration: none;
  color: #FEFAE0;
  font-size: 1.2rem;
  margin-right: 30px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  height: 2px;
  width: 0;
  background-color: #FEFAE0;
  transition: width 0.3s;
}

.navbar a:hover::before,
.navbar a.active-tab::before {
  width: 100%;
}

/* Footer */
.footer {
  width: 100%;
  background: #1D363A;
  color: #FEFAE0;
  text-align: center;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  position: relative; /* Quitamos absolute */
  margin-top: auto; /* Empuja el footer hacia abajo */
}

.footer .social-media img {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}
