/* Reset y fuentes */
* {
  box-sizing: border-box;
  /* border: red 1px solid; */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

/* roboto-latin-wght-normal */
@font-face {
  font-family: 'Roboto Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* Página principal */
.landing-page-body {
  min-height: 100vh;
  margin: 0;
  background: url('../assets/img/background-forest.jpg') no-repeat;
  font-family: 'Roboto Variable', sans-serif;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

/* Otras páginas */
.other-page-body {
  min-height: 100vh;
  margin: 0;
  background-color:#FEFAE0 ;
  font-family: 'Roboto Variable', sans-serif;
  display: flex;
  flex-direction: column;
}

/* Encabezado */
.terabi-header {
  background-color: #FEFAE0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-page-header {
  padding: 12px 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #FEFAE0;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FEFAE0;
  text-decoration: none;
  width: 6rem;
  height: auto;
}

.logo-container {
  width: 5rem;
  height: 5rem;
}

.logo img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

/* Navegación */
.navbar a {
  position: relative;
  text-decoration: none;
  color: #1D363A;
  font-weight: 400;
  font-size: 1.2rem;
  margin-right: 30px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  height: 2px;
  width: 0;
  background-color: #1D363A;
  transition: width 0.3s;
}

.navbar a:hover::before,
.navbar a.active-tab::before {
  width: 100%;
}

/* Página principal contenido */
.landing-page-main {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  color: #FEFAE0;
  text-align: center;
  margin-top: -150px;
  margin-bottom: 105px;
}

.landing-page-main strong {
  font-family: 'Satisfy', cursive;
  font-size: 5rem;
  color: #A9CCC8;
  transition: color 0.5s;
}

.landing-page-main strong:hover {
  color: #1D363A;
}

.landing-page-main h1 {
  font-size: 4rem;
  font-weight: 700;
}

.landing-page-main .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Páginas secundarias contenido */
.other-page-main {
  flex: 1;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #1D363A;
  padding: 0 30px;
  text-align: center;
  margin-bottom: 20px;
}

.other-page-main h1 {
  margin-top: 20px;
  font-size: 3rem;
  font-weight: 700;
}

.other-page-main p {
  font-size: 1.5rem;
  font-weight: 400;
 
}
.other-page-main .descripcion-terabi{
  font-size: 1.5em;
}

/* Botón */
.btn {
  padding: 10px 20px;
  background-color: transparent;
  color: #FEFAE0;
  border: 2px solid #FEFAE0;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 100px;
  transition: background-color 0.5s, box-shadow 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #FEFAE0;
  color: #1D363A;
  box-shadow: 0 0 15px #FEFAE0;
  transform: scale(1.1);
}
.descripcion-terabi {
  padding: 20px;
  font-size: 1em;
}


/* Footer */
.footer {
  width: 100%;
  padding: 10px 15px;
  background: #1D363A;
  height: 50px;
  color: #FEFAE0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  position: relative;
  margin-top: auto;
}

.footer a {
  margin-left: 15px;
  text-decoration: none;
}

.footer .social-media img {
  width: 25px;
  height: 25px;
  margin-left: 15px;
}

.social-media img {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  transition: transform 0.1s;
}

.social-media img:hover {
  transform: scale(1.2);
}

.animales-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #16A085;
  font-family: 'Satisfy', cursive;
}
.cursiva{
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Satisfy', cursive;
  font-size: 4em;
  color: #16A085;
  text-align: center;
}
.cursiva2{
  font-size: 2em;
  margin: 0;
  color: #16A085;
  font-family: 'Satisfy', cursive;
  
}